@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
   
</head>

<body>

    <p></p>
    <button class="btn btn-danger" id="crip">Criptografar</button>
    <button class="btn btn-success" id="descrip">Descriptografar</button>
    <p></p>
    @*<h2>texto</h2>*@

    <table bgcolor="#003300" width="950" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td align="justify" bgcolor="#ffffff" valign="top" width="500" height="200">
                    <textarea placeholder="Campo para entrar com mensagem a ser Criptografada/Descriptografada." cols="65" rows="27" type="text" id="entrada" value=""></textarea>
                </td>
                <td bgcolor="#ffffff" valign="top" width="10" height="200">
                    &nbsp;
                </td>
                <td valign="top" width="10" height="200">
                    &nbsp;
                </td>
                <td bgcolor="#ffffff" valign="top" width="10" height="200">
                    &nbsp;
                </td>
                <td align="justify" bgcolor="#ffffff" valign="top" width="230" height="200">
                    <textarea placeholder="Campo que retorna a saída da mensagem Criptografada/Descriptografada." cols="65" rows="27" type="text" id="saida" value=""></textarea>
                </td>
            </tr>
        </tbody>
    </table>



    @*<h2>Entrada</h2>
        <textarea type="text" id="entrada" value="" style="width:200px; height:600px;"></textarea>

        <h2>Saida</h2>
        <textarea type="text" id="saida" value="" style="width:200px; height:600px;"></textarea>*@
</body>
</html>